@{
    ViewBag.Title = "Home Page";
}
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@

<style>

    .circle-img {
        width: 250px;
        height: 250px;
        overflow: hidden;
    }

        .circle-img img {
            height: 100%;
            transform: translateX(-50%);
            margin-left: 50%;
        }
    .how-section1 {
        margin-top: -15%;
        padding: 10%;
    }

        .how-section1 h4 {
            color: #ffa500;
            font-weight: bold;
            font-size: 30px;
        }

        .how-section1 .subheading {
            color: #3931af;
            font-size: 20px;
        }

        .how-section1 .row {
            margin-top: 10%;
        }

    .how-img {
        text-align: center;
    }

        .how-img img {
            padding-top: 15px;
            width: 90%;
        }
</style>

<div class="how-section1">
    <div class="row">
        <div class="col-md-4 how-img circle-img img-circle">
            <img src="https://senego.com/wp-content/uploads/2017/08/bombardier-b52.jpg" class="img-circle img-fluid" alt="" />
        </div>
        <div class="col-md-8">
            <h4>BOMBARDIER</h4>
            <h4 class="subheading"> « J’ai toujours voulu que ce combat ait lieu ».</h4>
            <p class="text-muted">


                Comment avez-vous accueilli cette nouvelle après une longue attente due au contrat non abouti avec Assane Ndiaye ?

                (Il rit) Vous savez, j’ai toujours voulu que ce combat ait lieu. C’était mon souhait, car rester deux ans sans lutter, ce n’est pas bien pour un sportif de haut niveau. Donc, cette nouvelle je l’ai accueillie avec philosophie, avec un gros ouf de soulagement. Je vous dis une chose, j’étais en discussions avec Leewto Productions depuis un moment. Donc, je savais que ce combat allait se tenir. En plus, l’adversaire voulait également ce combat, donc, il fallait qu’un promoteur nous oppose. Je remercie Leewto Productions.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>MODOU KHARAGN LO</h4>
            <h4 class="subheading">BOMBARDIER REMET SON TITRE EN JEU LE 7 JUIN 2015 FACE .</h4>
            <p class="text-muted">
                Le nouveau roi des arènes sénégalaises Bombardier a finalement contracté avec une structure du nom de SOUBATEL pour remettre sont titre en jeu face à Modou Lô, le lutteur le plus populaire et parmi les plus coriaces du Sénégal, actuellement.

                La confrontation officialisée ce lundi nuit est retenue à la date du 7 juin 2015 au stade Demba Diop de Dakar.

                Sur ce qui a toujours été à la base de l’officialisation de ce contrat avec les deux lutteurs, à savoir le cachet, ni la structure, ni les lutteurs ou leurs managers n’ont voulu communiquer là dessus.

                Mais des sources d’ATS parlent :  » de 130 millions versés à chacun des deux lutteurs« .

                Ce qui semblent s’expliquer. Si Modou Lo pour son dernier combat victorieux face à Eumeu Séne avait soutenu qu’il toucherait la même somme (130 millions) face à Bombardier ou préférerait faire année blanche », pour le nouveau roi des arènes,  » c’est 130 millions qu’il a aussi réclamés et obtenus« .
            </p>
        </div>
        <div class="col-md-4 how-img circle-img img-circle">
            <img src="https://www.africatopsports.com/wp-content/uploads/2014/12/modou-lo-710x493.png" class="img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 how-img circle-img img-circle">
            <img src="http://www.africatopsports.com/wp-content/uploads/2013/04/Yekini.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-8">
            <h4>YAKHYA DIOP YEKINI.</h4>
            <h4 class="subheading">Le  » retour » de Yekini dans l’arène pas confirmé</h4>
            <p class="text-muted">
                » Vraiment, on est surpris de voir que l’on insiste et on parle de plus en plus du retour de Yakhya – Yekini- , alors que nous qui sommes dans l’écurie, qui le connaissons, qui le voyons , ne sommes pas informés. Ce n’est pas dans les habitudes de Yekini de prendre des décisions sans consulter ses grands frères. Et pour ce cas, c’est pour le moment une simple rumeur » soutient un des membres influents de l’écurie Ndakarou où évolue le lutteur depuis prés de 20 ans.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>BALLA GAYE 2</h4>
            <h4 class="subheading">Balla Gaye 2 : « je suis un lutteur complet ».</h4>
            <p class="text-muted">
                Après sa victore sur Modou Lô dimanche dernier, Balla Gaye 2 est revenu sur ce combat où il a estimé qu’il était plus fort que son adversaire et écarte tout complot contre ce dernier.

                « Avec les sacrifices que j’ai faits, je ne devais pas perdre ce combat. Ce serait une honte de perdre devant lui, malgré son statut de champion incontestable. Je voulais faire taire mes détracteurs qui pensent que je ne suis pas à l’aise en boxe. Je suis un lutteur complet », attaque-t-il.

                Pour Balla Gaye 2, il ne fait pas de fixation sur aucun lutteur, mais n’écarte personne. Cependant, il ne comprend le refus de Eumeu Sène d’autant que « j’ai battu deux fois celui qui l’a battu », poursuit-il.
            </p>
        </div>
        <div class="col-md-4 how-img circle-img img-circle">
            <img src="https://i1.wp.com/senetimes.com/wp-content/uploads/2019/01/mod.jpg?resize=720%2C480&ssl=1" class="img-fluid" alt="" />
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        toastr.info("Bienvenue dans votre projet");
    })
</script>