
<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/footer-distributed-with-address-and-phones.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head>
<body>
   

    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>C.N.G.<span> logo</span></h3>
            <p class="footer-links">
                <a href="#">Accueil</a>
                ·
                <a href="#">Affiches</a>
                ·
                <a href="#">Lutteurs</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
            </p>
            <p class="footer-company-name"><p>PSR09133 Ndiack Fall - Lamb_Ji Gestion &copy; 2019</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Parcelles Assainies Unité 26</span> Dakar, Sénégal</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> +221 33 867 04 69</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">cngofficiel@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>A propos du CNG</span>
                Le CNG de lutte a pour mission de gérer, de développer et de promouvoir les trois formes de lutte que sont :

                la Lutte Olympique (Gréco-Romaine et Lutte Libre)
                la Lutte Traditionnelle Sans Frappe
                la Lutte Traditionnelle Avec frappe
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/CNG-de-LUTTE-lofficiel-384516095068606/?ref=br_rs" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
