@{
    ViewBag.Title = "Erreur";
}
<style>
    #myCarousel {
        display: none;
    }
</style>
<h1 class="text-danger">OOPS.</h1>
<img src="~/Images/Error.jpg" />
<h2 class="text-danger">Désolé Une erreur s'est produite pendant le traitement de votre demande.</h2>

