@model IEnumerable<Lamb_Ji_DAL.Lutteur>

@{
    ViewBag.Title = "DisplayLuteurForUser";
}

<br /><br />

 <div class="container">
          <h2 class="text-center">Liste des Lutteurs affiliés</h2>

    @foreach (var item in Model)
    {
      <div class="col-md-3" style="margin-bottom:25px">
          <div class="thumbnail">
              <div class="image" style="margin-bottom:20px">
                  <img class="img-responsive" src="@Url.Content(item.imageUrl)" height="350" width="240" />
              </div>
              <div class="caption" style="border-top:3px solid #808080">
                  <h3><a href="#">@item.LutteurName</a></h3>
                  <h4>@item.LutteurDescription</h4>
              </div>
          </div>
      </div>
     }

</div>
