
@{
    ViewBag.Title = "Lutte Greco-Romaine";
}
<br /><br />
<h1 class="text-center">Lutte  Greco-Romaine</h1>

<br /><br />

<div class="jumbotron">
    <p>
        La lutte olympique pourrait être définie comme un sport de
        combat opposant à mains nues deux adversaires de même poids. Le but du jeu
        pour chacun des protagonistes est de plaquer les épaules de l'autre au
        tapis (="tombé") au moyen de prises cotées ou à défaut, d'obtenir plus de
        pointsque l'adversaire à l'issue du temps réglementaire (5 minutes), et ce,
        en parfaite conformité avec l'esprit des règles universelles qui régissent
        ce sport; ces règles sont consignées dans un code international dont l'opportunité
        des dispositions est vérifiée annuellement par la Fédération Internationale de Lutte Amateur.
    </p>
</div>


<h4>
    @Html.ActionLink("Retour", "Index", "TypeLutte")
</h4>

