
@{
    ViewBag.Title = "Lutte Traditionnelle Avec Frappe";
}
<br /><br />
<h1 class="text-center">Lutte Traditionnelle Avec Frappe</h1>

<br /><br />


<div class="jumbotron">
    <p>
        La lutte actuelle avec frappe est totalement étrangère à notre culture sportive et ne nous concerne nullement,
        loin s’en faut. Cette barbarie est une création d’affairistes à la recherche effrénée de pognon par des voies
        détournées sous le prétexte de notre culture ou sport national. Cette lutte n’a ni de près ni de loin,
        des sources ou liens crédibles et vérifiables, qui la rattachent à nos différentes  cultures de l’ensemble
        de nos ethnies, celles-là qui la pratiquaient pendant les fêtes populaires. Cette lutte, fondamentalement
        et sociologiquement, n’est pas un sport de chez-nous. Plutôt, ce sont les gladiateurs romains que cette
        lutte nous rappelle, peut être avec la différence, qu’ici, le vaincu n’est pas exécuté par le vainqueur,
        sinon, la ressemblance par la violence gratuite est tout comme. En vérité, cette forme de lutte avec frappe
        qui ne dénote que la barbarie et sauvagerie humaine, n’a rien à voir avec du sport,  sinon, pas en tout cas,
        avec la lutte traditionnelle sénégalaise, car cette lutte avec frappe, nous le répétons à souhait, démontre
        rarement des gestes de technicité sportive ou de l’habileté  des athlètes. Plutôt, les lutteurs se ruent de
        coups aveuglément sans même sauvegarder l’intégrité physique du combattant. Comme à l’image de la boxe avec
        des règles strictes, ce qui n’est pas, il faut le déplorer, le cas ici. Dans les normes, il devait à la rigueur
        tout au moins, y avoir des règles strictes et formelles, interdisant absolument la frappe à certains  endroits
        du corps et autres coups dangereux pouvant handicaper à vie l’adversaire. Par ailleurs, les frappes à mains nues
        constituent des risques évidents susceptibles d’occasionner de graves accidents handicapant sur les deux lutteurs.
        Mais pourquoi donc, tout ceci n’attire pas jusque-là l’attention des autorités étatiques et de ceux qui ont en
        charge l’organisation de la lutte ou plutôt la bagarre, puisque c’est bien de cela qu’il s’agit
        et non de la lutte sénégalaise véritable? Même dans la lutte gréco-romaine, il n’y a pas de frappe,
        et la violence y est exclue.
    </p>
</div>


<h4>
    @Html.ActionLink("Retour", "Index", "TypeLutte")
</h4>

